html {
    height: 180vh;
    background-image: url('../img/network-connections-earth-lights-blue-horizon-3840x2400-2463.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background-color: #ff5722; */
    font-family: sans-serif;
    color: #ffffff;
    height: 99%;
}

.main_card {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(12px);
    box-shadow: 5px 5px 30px 8px rgba(0, 0, 0, 0.59);
    padding: 1rem;
    width: 60%;
    border-radius: 1rem;
}

.header_content {
    background-image: url('https://images6.alphacoders.com/102/1020188.jpg');
    background-size: cover;
    background-position: center center;
    height: 12rem;
    border-radius: 1rem;
    margin: 1rem;
}

.personal_header {
    height: 8rem;
}

.personal_avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 215px;
    transform: translateY(-55%);
    border: 16px solid rgba(0, 0, 0, 0.7);
    border-radius: 11rem;
}

.main_title {
    text-align: center;
    margin: 1rem 0rem;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.resumee_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}

.resumee_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.7rem;
    padding: 1rem;
    margin: 1rem 0rem;
    width: 44%;
}

.resumee_title {
    font-size: 1.25rem;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
}

.resumee_description {
    line-height: 2.25rem;
    font-weight: bold;
    text-align: justify;
}

.certifications {
    font-size: 1.35rem;
    margin: 1rem 0rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
}

.certifications:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: 500ms;
}

.certifications:active {
    background: rgba(255, 255, 255, 0.5);
    transition: 500ms;
}

.projects {
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 44%;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

button {
    background-color: black;
    background-image: linear-gradient(black, #808080);
    padding: 15px;
    margin: 15px;
    border: none;
    width: 65%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    position: relative;
    font-style: bolder;
}

button:after {
    top: 2px;
    left: 2px;
    content: '';
    position: absolute;
    border-radius: 1rem;
    width: calc(100% - 4px);
    height: 50%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.btn_projects:hover {
    background: linear-gradient(#303030, #939393);
    cursor: pointer;
    transition: 0.5s;
}

.btn_projects:active {
    background: linear-gradient(#101010, #434343);
    cursor: pointer;
    transition: 0.5s;
}

@media screen and (max-width: 1024px) {
    html {
        height: auto;
        padding: 16vh 0vw;
    }
    .main_card {
        width: 75%;
    }
    .certifications {
        width: auto;
    }

    .btn_projects {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    html {
        height: auto;
        padding: 16vh 0vw;
    }

    .main_card {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .resumee_content {
        display: flex;
        flex-wrap: nowrap;
        margin: 1rem;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .resumee_card {
        width: 90%;
    }

    .projects {
        width: 90%;
    }
}

@media screen and (max-width: 425px) {

    html {
        height: auto;
    }

    .main_card {
        margin: 4rem 0rem;
        justify-content: space-around;
        height: 128rem;
    }

    .header_content {
        width: 98%;   
    }
}